* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#connexion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#connectionArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 350px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.56);
}

#login {
    display: flex;
    height: 50%;
    width: 90%;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
}

.labelAndInput {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    padding: 2px 5px;
    width: 95%;
}

#buttonLogin {
    background: #9fcbf5;
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 40%;
    margin: 0 30%;
    outline: none;
}

#buttonLogin:hover {
    cursor: pointer;
}


#listGroup {
    padding-top: 70px;
    display: flex;
    z-index: 3;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: calc(100vh - 70px);
    background: #333333;
}

#searchGroup {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#discussion {
    margin-left: 30vw;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    height: 100vh;
}

#myAccount {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 70px;
    z-index: 4;
    align-items: center;
}

#myAccount:hover {
    cursor: pointer;
}

.room {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px #3e3e3e solid;
}

.room:hover {
    cursor: pointer;
}

.nameRoom {

    color: #ffffff;
    width: calc(30vw - 80px);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-left: 20px;

}

#noResult {
    width: 100%;
    text-align: center;
}

#inputSearchGroup {
    border: none;
    padding: 5px 10px;
    flex-grow: 1;
    border-radius: 2rem;
}

#inputSearchGroup:focus {
    outline: none;
}

#groups {
    list-style-type: none;
    height: calc(100vh - 120px);
    margin: 0;
    padding: 0;
    overflow-y: scroll;

}

#groups::-webkit-scrollbar {
    width: 0 !important
}

#drawMessage {
    background: #9a9a9a;
    padding: 5px;
    display: flex;
    height: 50px;
}

#inputMessage {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#inputMessage:focus {
    outline: none;
}

#drawMessage > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    overflow-y: scroll;
    height: calc(100vh - 130px);
    margin-bottom: 0;
    padding: 20px 10px 0 0;
}

#messages::-webkit-scrollbar {
    width: 0 !important
}

.myMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20px;

}

.otherMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 20px;
}

.meSender {
    display: flex;
    justify-content: flex-end;
}

.otherSender {
    display: flex;
    justify-content: flex-start;
}

.mySend {
    background: #9fcbf5;
    border-radius: 10px 0 10px 10px;
    padding: 5px 10px;
    -moz-border-radius-topright: 0;
    word-break: break-all;


}

.otherSend {
    background: #ededed;
    border-radius:0 10px 10px 10px;
    padding: 5px 10px;
    -moz-border-radius-topleft: 0;
    word-break: break-all;
}

#titleRoom {
    z-index: 2;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #333333;
    color: white;
    box-shadow: 0 0 11px 5px rgba(0, 0, 0, 0.59);

}

.image_user {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

#settings{
    position: fixed;
    z-index: 6;
    background: #151515;
    color: white;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    right: 0;
    overflow-y: scroll;

}
#settings::-webkit-scrollbar {
    width: 0 !important
}
#titleSetting{
    margin: 50px;
}
#onlineUsers{
    width: calc(100% - 40px);
    padding: 20px;
    list-style-type: none;
}

#settingsIcon{
    top: 0;
    z-index: 5;
    right: 0;
    position: fixed;
    margin: 15px;
    z-index: 5;
    align-items: stretch;
    justify-content: stretch;
    width: 40px;
    height: 40px;

}

#settingsIcon:hover {
    cursor: pointer;
}


.fa-cog{
    color: white;
    font-size: 30px;
}

#addGroupIcon{
    margin: 15px;
    align-items: stretch;
    justify-content: stretch;
    width: 25px;
    height: 25px;

}

#addGroupIcon:hover {
    cursor: pointer;
}

.fa-plus{
    color: white;
    font-size: 25px;
}

.messageConnect{
    width: 70vw ;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lineConnect{
    border-top: #9a9a9a 2px dotted;
    height: 1px;
    width: calc((70vw - 230px) /2);

}
.textConnect{
    color: #9a9a9a;


}
#writerArea{
    position: fixed;
    margin-top: -26px;
    height: 26px;
    color: #3e3e3e;
    background: rgb(191, 233, 255);
}
#textWriterArea{
    margin: 3px 5px;
}

.myMessage:hover, .otherMessage:hover {
    background: #dedede;
}

#userSettings {
    position: fixed;
    top: 0;
    background: #151515;
    color: white;
    right: 0;
    width: 70vw;
    height: 100vh;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
#userSettings::-webkit-scrollbar {
    width: 0 !important
}

#settingsImgContainer {
    width: 300px;
    margin: 20px;


}
#headAccount{
    width: 70vw;
    height: 70px;
    align-items: center;
    background: #333333;
    display: flex;
    justify-content: space-between;
}
#headSettings{
    width: 70vw;
    height: 70px;
    align-items: center;
    background: #333333;
    display: flex;
    justify-content: space-between;
}

#settingImg {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: double #ffffff 10px;
}

#quitUserSettings {
    margin : 5px;
}

#quitUserSettings:hover {
    cursor: pointer;
    object-fit: contain;
}

#quitSettings {
    margin : 5px;
}

#quitSettings:hover {
    cursor: pointer;
    object-fit: contain;
}


a{
    color: white;
    text-decoration: none;
}

.fa-arrow-left{
    position: relative;
    font-size: 20px;
    margin: 5px;
}

.la-thumbtack-me {
    position: relative;
    font-size: 20px;
    margin-top: 30px;

}


.la-thumbtack-other {
    position: relative;
    font-size: 20px;
    margin-top: 30px;
}

#infoUser > p , #infoUser > label{
    width: 100%;
    border-top: #464646 2px solid;
}
#infoUser > h3{
    margin-bottom: 5px;
}

#infoUser > textarea{
    width: 100%;
    color: white;
    background: #363636;
    margin-top: 3px;
}

.pin-position {
    display: flex;
}

#infoUser{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}
.offline{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #860000;
}
.online{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #117201;
}
.userLi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-top: #464646 2px solid;
}